/.vs
/x64
*.pdb
*.ilk
*.pch
*.obj
*.tlog
*.idb
ElysiaRenderer/x64/Release/ElysiaRenderer.ipdb
ElysiaRenderer/x64/Release/ElysiaRenderer.iobj
.idea/.idea.ElysiaRenderer/.idea/workspace.xml
ElysiaRenderer/Assets/glTF/ABeautifulGame/ABeautifulGame.bin
ElysiaRenderer/Assets/glTF/ABeautifulGame/ABeautifulGame.gltf
ElysiaRenderer/Assets/glTF/ABeautifulGame/bishop_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/bishop_black_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Bishop_black_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/bishop_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/bishop_white_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Bishop_white_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/castle_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Castle_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Castle_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/castle_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/chessboard_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/chessboard_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Chessboard_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/king_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/King_black_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/King_black_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/king_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/King_white_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/King_white_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/knight_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Knight_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Knight_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/knight_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/pawn_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Pawn_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Pawn_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/pawn_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/queen_black_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Queen_black_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Queen_black_ORM.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/queen_white_base_color.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Queen_white_normal.jpg
ElysiaRenderer/Assets/glTF/ABeautifulGame/Queen_white_ORM.jpg
